<div class="overlap">
  <div class="container-7">
    <div class="sub-container-6">
      <div class="text-container">
        <div class="heading-3">최종 결과</div>
      </div>
      <button class="button-4">
        <div class="text-3">All Movies</div>
        <img class="button-5"
          src="https://cdn.animaapp.com/projects/673df13276e2d7568d4b019c/releases/673e0d44e0c0123a8ba3d3b7/img/button.svg" />
      </button>
    </div>



    
    <div class="sub-container-7">
      <div class="container-8">
        <div class="number">01</div>
        <div class="sub-container-8">
          <div class="container-9">
            <div class="heading-4">파묘</div>
            <div class="sub-container-9">
              <img class="close"
                src="https://cdn.animaapp.com/projects/673df13276e2d7568d4b019c/releases/673e0d44e0c0123a8ba3d3b7/img/close.svg" />
              <div class="text-4">폐기</div>
            </div>
          </div>
          <p class="paragraph">
            <span class="span">주어진 시나리오<br /></span>
            <span class="text-wrapper-3">ㅁㄴㅇㄹ<br /></span>
            <span class="span"><br />근흐흐 가 쓴 시나리오<br />몰라여. 어떻게든 되겠죠 껄껄껄<br /><br /></span>
            <span class="text-wrapper-3">평가 결과 : 주인공의 강인한 의지 : ‘날로 먹다.’<br />ㅁㄴㅇㄹ</span>
          </p>
        </div>
      </div>
      <div class="container-10">
        <div class="number">02</div>
        <div class="sub-container-8">
          <div class="container-11">
            <div class="heading-5">파묘</div>
            <div class="sub-container-9">
              <img class="close"
                src="https://cdn.animaapp.com/projects/673df13276e2d7568d4b019c/releases/673e0d44e0c0123a8ba3d3b7/img/close.svg" />
              <div class="text-4">폐기</div>
            </div>
          </div>
          <p class="paragraph">
            주어진 시나리오<br />폐기된 경우 AI가 임의로 작성한 다음 시나리오로 계속.<br /><br />근흐흐 가 쓴
            시나리오<br />....<br /><br />평가 결과
          </p>
        </div>
      </div>
    </div>
  </div>



  
  <div class="buttons-container">
    <button class="button-6">
      <div class="text-wrapper-4">맨앞</div>
    </button>
    <img class="img"
      src="https://cdn.animaapp.com/projects/673df13276e2d7568d4b019c/releases/673e0d44e0c0123a8ba3d3b7/img/button-1.svg" />
    <div class="indicators-container">
      <div class="shape-2"></div>
      <div class="shape-3"></div>
      <div class="shape-3"></div>
      <div class="shape-3"></div>
    </div>
    <img class="img"
      src="https://cdn.animaapp.com/projects/673df13276e2d7568d4b019c/releases/673e0d44e0c0123a8ba3d3b7/img/button-2.svg" />
    <button class="button-6">
      <div class="text-wrapper-4">맨뒤</div>
    </button>
  </div>



  <div class="buttons-container-2">
    <button class="button-7">
      <div class="text-5">자세히 보기</div>
    </button>
    <div class="text-button">요약해서 보기</div>
  </div>
  <div class="rectangle"></div>
</div>